@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/inter-v19-latin-700.woff2') format('woff2');
}


html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-Primary: #0e0e0e;
    --color-Secondary: #fff;
    --color-accent: #d60000;
    --color-dark-grey: #333;
    --color-grey: #666;
    --color-white: #fff;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: Inter, sans-serif;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

a, p {
    line-height: 1.6;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    font-size: 2.25rem;
    font-weight: 600;
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.25rem 0 1rem 0;
    padding: 0;
}

a {
    color: var(--color-accent);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 2px;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}

.btn {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}

.btn-Primary {
    background-color: var(--color-Primary);
    color: var(--color-Secondary);
    border: 2px solid var(--color-Primary);
}


.btn-Secondary {
    background-color: var(--color-Secondary);
    color: var(--color-Primary);
    border: 2px solid var(--color-Primary);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-Primary);
    color: var(--color-Secondary);
}

.footer-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.footer-bottom {
    text-align: left;
    width: 100%;
    max-width: 1280px;
    padding: 0 1rem;
}

section {
    margin-bottom: 1rem;
    padding: 4rem 1rem;
}


#about p {
    max-width: 60ch;
    margin: 0 auto;
}


/* hero */

#hero-Canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: url('/assets/pen.svg') 0 0, auto;
    background-image: radial-gradient(rgba(143, 143, 143, 0.3) 2px, var(--color-white) 2px);
    background-size: 1.5rem 1.5rem;
}

#hero-Logo-Wrapper {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 1;
    transform: translateX(-50%), translateY(-50%);
}

#hero-Logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
    z-index: 0;
    margin: 1rem 0 0 1rem;
}

#hero-Button-Wrapper {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    z-index: 1;
    transition: opacity 0.3s ease;
    display: flex;
    gap: 1rem;
}

#hero-Button-Wrapper a {
    margin: 0.5rem;
}

.hero-Text-Container {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;
    text-align: left;
    padding-left: 2rem;
    pointer-events: none;
}

.button-disabled {
    pointer-events: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 0;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.hero-Spacer {
    height: 2px;
    width: 100%;
    background-color: var(--color-Primary);
}

/* explorer */
.container-Explorer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#load-more-container {
    text-align: center;
    padding: 1rem;
}

.grid-Explorer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.card-explorer-link {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
}

.card-explorer-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1E1E1E 0%, transparent 40%);
    pointer-events: none;
}

.card-Explorer {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 220px;
    display: block;
}

.card-body {
    width: 100%;
}

.card-text {
    flex-grow: 1;
    padding: 0 1rem;
}

.card-title {
    margin: 0.4rem 0 0 0;
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-description {
    margin: 0;
    padding-bottom: 0.25rem;
    color: var(--color-grey);
    margin: 0;
    font-size: 0.8rem;
}

.btn-load-more {
    background-color: #0e0e0e;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.card-img-text {
    font-weight: 600;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin: 0;
    pointer-events: none;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.card-explorer-btn {
    display: none;
    background-color: #0e0e0e;
    padding: 0.25rem 0;
    border-radius: 0.5rem;
    text-decoration: none;

}

.card-explorer-btn p {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 0.8rem;
}

/* Iframe Viewer Styles */
.close-iframe-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1010;
    background-color: var(--color-Primary);
    color: var(--color-Secondary);
    border: 2px solid var(--color-Secondary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 1;
}

.close-iframe-btn:hover {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-Primary);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

/*Styling for Explorer cards on smaller screens*/
@media (max-width: 768px) {

    .grid-Explorer {
        flex-direction: column;
    }

    .card-Explorer {
        flex-direction: row;
        align-items: center;
    }

    .card-explorer-link {
        flex-shrink: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
    }

    .card-img-top {
        height: 15vh;
        width: 15vh;
        min-height: 120px;
        min-width: 120px;
    }

    .card-body {
        width: auto;
        flex: 1;
        padding: 0 1rem;
    }

    .card-text {
        padding: 0;
    }

    .card-img-text {
        visibility: hidden;
    }

    .card-explorer-btn {
        display: block;
        margin: 0.5rem 0;
    }

    .card-title {
        font-weight: 700;
        font-size: 0.9rem;
    }
}


/* features */

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.feature-card, .feature-card-reverse {
    display: grid;
    gap: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 1rem;
    align-items: center;
}

.feature-card {
    grid-template-columns: 3fr 2fr;
}

.feature-card-reverse {
    grid-template-columns: 2fr 3fr;
}

.feature-card * img, .feature-card-reverse * img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.feature-card h4, .feature-card p{
    padding-left: 1rem;
}

.feature-card-reverse h4, .feature-card-reverse p {
    padding-left: 0.5rem;
}

.feature-image-wrapper {
    position: relative;
    line-height: 0;
}

.progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 1rem;
}

.feature-card.active .progress-bar, .feature-card-reverse.active .progress-bar {
    width: 100%;
    transition: width 3s linear;
}


@media (max-width: 768px) {
    #hero-Button-Wrapper {
        flex-direction: column;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .feature-card, .feature-card-reverse {
        grid-template-columns: 1fr;
    }
}

/* FAQ Section */
#faq-section {
    margin-top: 2rem;
    padding: 1rem 1rem;
    background-color: var(--color-Secondary);
}

#faq-section h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.faq-container {
    max-width: 800px; /* Limit width for readability */
    margin: 0 auto;
}

.faq-item {
    margin-bottom: 1rem;
    border: 1px solid var(--color-grey); /* Use existing variable */
    border-radius: 0.5rem;
    overflow: hidden;
}

.faq-question {
    background-color: var(--color-Primary); /* Use existing variable */
    color: var(--color-Secondary); /* Use existing variable */
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question::after {
    content: '+';
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.faq-question[aria-expanded="true"]::after {
    content: '-';
    transform: rotate(0deg);
}

.faq-answer {
    padding: 0 1rem;
    background-color: var(--color-white); /* Use existing variable */
    border-top: 1px solid var(--color-grey); /* Use existing variable */
}