---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeroMain from "../components/HeroMain.astro"
import Head from "../components/Head.astro"
import MOXRGlbExplorer from "../components/MOXRGlbExplorer.astro"
import '../styles/main.css';
import { urls } from "../config";
---

<BaseLayout>
    <Head slot="head"/>
    <HeroMain slot="header"/>

    <section slot="main" id="about">
        <h2>About Mind-Objects XR</h2>
        <p>
            Mind-Objects XR is a tool for quickly sketching ideas directly in 3D space, making early concept
            visualization fast and effortless.
            Users can grab, move, and scale hand-drawn objects with both hands, encouraging creative thinking and
            collaboration.
            The app focuses on simplicity and speed, turning ideas into immersive prototypes within minutes.
        </p>
    </section>

    <section slot="main" id="explorer">
        <MOXRGlbExplorer client:load/>
    </section>move

    <div slot="footer-main">
        <img src="assets/logo-mind-objects.svg" alt="Logo Mind-Objects" draggable="false" style="height: 100px;"/>
        <p><a href={urls.mindObjectsImprint}>Legal Notice</a></p>
    </div>
    <div slot="footer-bottom">
        <p>Website designed and developed by <a href={urls.icuMedia}>icu-media</a></p>
    </div>
</BaseLayout>