---
import BaseLayout from "../layouts/BaseLayout.astro"
import HeroMain from "../components/HeroMain.astro"
import Head from "../components/Head.astro"
import MOXRGlbExplorer from "../components/MOXRGlbExplorer.astro"
---

<BaseLayout>
    <Head slot="head"/>
    <HeroMain/>
        <section slot="main" id="explorer">
            <MOXRGlbExplorer client:load/>
        </section>
</BaseLayout>