---
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <slot name="head"/>
</head>
<body>
<header>
    <slot name="header"/>
</header>
<main>
    <slot name="main"/>
</main>
<footer>
    <div class="footer-main-content">
        <slot name="footer-main"/>
    </div>
    <div class="footer-bottom">
        <slot name="footer-bottom"/>
    </div>
</footer>
</body>
</html>