---
import Head from '../components/Head.astro';

interface Props {
    title: string;
    lang: string;
}

const {title, lang = 'de'} = Astro.props;
---
<!doctype html>
<html lang={lang} data-theme="light">
<head>
    <Head title={title}/>
    <slot name="head"/>
</head>
<body>
<div class="hero-wrapper">
    <Head slot="head" lang={lang}/>
</div>
<main>
    <slot/>
</main>
<footer>
    <div class="footer-main-content">
        <slot name="footer-main"/>
    </div>
    <div class="footer-bottom">
        <slot name="footer-bottom"/>
    </div>
</footer>
</body>
</html>